[submodule "vendor/AFNetworking"]
	path = vendor/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "vendor/NoticeView"]
	path = vendor/NoticeView
	url = git://github.com/tciuro/NoticeView.git
[submodule "vendor/CKRefreshControl"]
	path = vendor/CKRefreshControl
	url = git://github.com/instructure/CKRefreshControl.git
[submodule "vendor/SDSegmentedControl"]
	path = vendor/SDSegmentedControl
	url = git://github.com/rs/SDSegmentedControl.git
[submodule "vendor/SDWebImage"]
	path = vendor/SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "vendor/PDKeychainBindingsController"]
	path = vendor/PDKeychainBindingsController
	url = git://github.com/carlbrown/PDKeychainBindingsController.git
[submodule "vendor/libssh2-for-iOS"]
	path = vendor/libssh2-for-iOS
	url = git://github.com/x2on/libssh2-for-iOS.git
[submodule "vendor/FontAwesomeIconFactory"]
	path = vendor/FontAwesomeIconFactory
	url = git://github.com/nschum/FontAwesomeIconFactory.git
[submodule "vendor/JASidePanels"]
	path = vendor/JASidePanels
	url = git://github.com/gotosleep/JASidePanels.git
[submodule "vendor/MGSplitViewController"]
	path = vendor/MGSplitViewController
	url = https://github.com/zipleen/MGSplitViewController.git 
[submodule "vendor/ETProgressBar"]
	path = vendor/ETProgressBar
	url = https://github.com/elitalon/ETProgressBar.git
[submodule "vendor/WTStatusBar"]
	path = vendor/WTStatusBar
	url = https://github.com/pieceofsummer/WTStatusBar.git
[submodule "vendor/AFHTTPRequestOperationLogger"]
	path = vendor/AFHTTPRequestOperationLogger
	url = https://github.com/AFNetworking/AFHTTPRequestOperationLogger.git
[submodule "vendor/AFNetworking-ProxyQueue"]
	path = vendor/AFNetworking-ProxyQueue
	url = https://github.com/mystcolor/AFNetworking-ProxyQueue.git
